<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-4 fs-9" 
  routerLink="/products">E-commerce App</a>
  <!-- <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" routerLink="/login"
      *ngIf="isLoggedIn()==false">
        Login
      </a>
      <a class="nav-link px-3" (click)="logout()"
      *ngIf="isLoggedIn()==true">
        Log Out
      </a>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" 
    class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item mt-5">
            <a class="nav-link" routerLink="/products">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-product-1">
              Classic Form
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-product-2">
              Reactive Form
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>