.productbox{
    padding: 15px;
    /* border-color: ; */
}
img{
    width: 15rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 1rem;
}
.btn{
    background-color: #b98077;
    color: #e6e1d9;
}
.btn:hover{
    background-color:#e6e1d9;
    color: #b98077;
}