
  <form  #loginForm="ngForm"
  (ngSubmit)="login(loginForm)"
  class="form-signin">
      <h1 class="h3 my-5 fw-normal">
          Login
      </h1>
      <div class="form-floating my-2 w-100">
        <input type="text" #name="ngModel" [(ngModel)]="model.userName" name="userName"
        class="form-control" id="userName" placeholder="User name" required autofocus>
        <label for="floatingInput">User name</label>
      </div>
      <div class="form-floating my-2 w-100">
        <input type="password" class="form-control" 
        #password="ngModel" [(ngModel)]="model.password" name="password"
        id="password" placeholder="Password">
        <label for="inputPassword">Password</label>
      </div>
      <div class="my-2">
          <button class="w-100 btn btn-lg" 
          type="submit">Sign in</button>
      </div>
  </form>
