form{
  height: 100%;
  /* margin-top: 25%; */
  margin-left: 35%;
}

.form-signin {
  max-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 15px; */
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
button{
  background-color: #85586F;
  color: #DFD3C3;
}
button:hover{
  background-color: #DFD3C3;
  color: #85586F;
}